<form action="/admin/options/" class="form-inline" id="products_search">
  <div class="form-group">
    <div class="input-group">
      <input type="text" name="search" value="<%= params[:search] %>" class="form-control" id="exampleInputAmount" placeholder="选件型号">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
