<section class="content-header">
  <h1> 选件
    <small>控制板</small>
  </h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">选件列表</h3>
			<!-- <div class="col-sm-4 hidden-xs margin-top-10"> -->
      <!--   <%= link_to '新建',[:new,:admin,:product],  class: 'btn btn-s-md btn-primary btn-flat', id: 'color-white' %> -->
      <!-- </div> -->
			<%= render "search_form" %>
    </div>
		<div id="products">
			<%= render "products" %>
		</div>
  </div>    
</section>
