<section class="content-header">
  <h1> 便利工具
    <small>控制板</small>
  </h1>
  <!--
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
  -->
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">新加便利工具</h3>
    </div>
    <hr/>
    <%= render 'form' %>
  </div>    
</section>
