<h1 class="h1_basic01">产品注册・注册产品列表</h1>
<div class="boxBasic01">
  <p>
  非常感谢您购买日置电机株式会社（HIOKI）的产品。<br>
  我们为已经进行产品注册的用户提供以下服务。<br>
  </p>
  <ul style="list-style-type: disc; margin:5px 0px 5px 20px;">
    <li class="first"><b>后续服务和版本升级的信息提供服务</b></li>
  </ul>
  <p></p>
  <br>
  <p>
  第一次进行产品注册的用户请填写以下内容。<br>
  您所填写的个人信息，仅用于我们注册产品的后续服务和提供版本升级信息。<br>
  </p>
</div>
<!-- /.boxBasic01 -->
<div class="boxBasic01">
  <h2 class="h2_basic01 btn-regist-product" id="btn-regist-product" onclick="ChgRegistProductArea();">产品信息注册▼</h2>
  <style>
.search-products-area{
  margin:5px 0px;
}
.btn-search-products{
  border:1px solid #000;
  border-radius: 4px;
  padding:4px 10px;
}
.result-search-products{
  margin:20px 0px 0px 0px;
}
.btn-area-products-user{
  text-align:center;
  margin:0 0 20px 0;
}
.search-list-ctrl{
  vertical-align: middle !important;
  text-align:center;
}
.btn-regist-product{
  cursor: pointer;
}
.disp-block{display:block;}
.disp-none{display:none;}
  </style>
  <div id="regist-product-area" class="disp-none">

    <%= form_for @registration, html: {name: "regist-product"} do |f| %>
    <form action="/post.jsp?database=hdProductUser" method="post" name="regist-product">
      <table class="table_basic01 inq">
        <colgroup>
          <col style="width:100px;">
          <col style="width:auto;">
        </colgroup>
        <tbody>
        <tr>
          <th>产品选择</th>
          <td>
            <p>请填写您想注册的产品名称4位以上的【字母/数字】，并按【查找】按钮。</p>
            <div class="search-products-area">
              <input type="text" name="search-word" value="" style="width:300px;">&nbsp;&nbsp;
              <input type="button" id="btn-search-word" value="查找" onclick="SearchWord();">&nbsp;&nbsp;
              （例：MR8847 等）
            </div>
            <p style="font-size:90%;">※仅限半角英文输入<a style="color:#005EAD" href="/assets_doc/registrations/model_no.jpg" data-lightbox="model_name2">（型号的确认方法）</a></p>
            <div id="result-search-products" class="result-search-products" style="display:none;"></div>
          </td>
        </tr>
        <tr>
          <th>生产编号</th>
          <td>
            <p>请输入9位生产编号。（也有生产编号不足9位的产品）&nbsp;&nbsp;<a style="color:#005EAD" href="/assets_doc/registrations/serial_no.png" data-lightbox="serial_no1">生产编号示例</a></p>
            <input type="text" name="serial_number" value="" style="width:200px;" disabled="disabled">
          </td>
        </tr>
        <tr>
          <th>购买年月日</th>
          <td>
            <p>请用半角英文输入。（例：2005-02-05）</p>
            <input type="text" name="buy_date" value="" style="width:200px;" disabled="disabled">
          </td>
        </tr>
        <tr>
          <th>使用者姓名</th>
          <td><%= @h_user.name %></td>
        </tr>
        <tr>
          <th>E-Mail</th>
          <td><%= @h_user.email %></td>
        </tr>
        </tbody>
      </table>
      <div class="btn-area-products-user">
        <input type="button" onclick="return chkPostData();" class="counterfeit_button01">
        <input type="reset" value="" onclick="resetSearchWord();" class="counterfeit_button02">
      </div>

      <script>
/*****************************************
  製品ユーザ登録の表示非表示のイベント 
 ******************************************/
      function ChgRegistProductArea(){
        if($('#regist-product-area').hasClass("disp-block")){
          $('#regist-product-area').removeClass("disp-block");
          $('#regist-product-area').addClass("disp-none");
          $('#btn-regist-product').html('产品信息注册▼');
        }else{
          $('#regist-product-area').removeClass("disp-none");
          $('#regist-product-area').addClass("disp-block");
          $('#btn-regist-product').html('产品信息注册▲');
        }
      }

/*****************************************
  検索ボタン押下時のイベント 
 ******************************************/
function SearchWord(){
  var keyword = '';
  keyword = $('[name="search-word"]').val();
  if(keyword.length < 4){
    alert('检索时请输入四个以上的文字');
    return false;
  }
  if(keyword.match(/[^A-Za-z0-9-+\/ ]+/)){
    alert('检索时请输入半角的字母或数字');
    return false;
  }

  /* サーバサイドから検索結果コンテンツを取得 */
  $.ajax({
url: "/products/registration/search_ajax?search_word=" + keyword,
type:'post',
dataType: 'html',
}).done(function(data){
  var contents = $(data).filter('#ajax-result-search-products').html();
  $('#result-search-products').html(contents);

  //製造番号と購入年月日を入力可能にする
  $('input[name="product_model_name"]').change(function(){
    $('[name="serial_number"]').prop('disabled',false);
    $('[name="buy_date"]').prop('disabled',false);
    });

  //検索結果のテーブルを表示
  $('.result-search-products').css('display','block');

  }).fail(function(data) {
    });

};




/*****************************************
  登録ボタン押下時のイベント 
 ******************************************/
function chkPostData(){
  //製品選択チェック
  var select_model_name = $('#result-search-products').find($('[name="product_model_name"]:checked')).length;
  if(select_model_name == '0'){
    alert('请选择型号');
    return false;
  }
  //製造番号入力チェック
  if($('[name="serial_number"]').val() == ''){
    alert('请选择生产编号');
    return false;
  }
  //購入年月日入力チェック
  var chkBuyDate = $('[name="buy_date"]').val();
  if(chkBuyDate == ''){
    alert('请输入购入年月日');
    return false;
  }else if(chkBuyDate.match( /[^0-9\-]+/ )){
    alert( "请以半角的YYYY-MM-DD的形式输入购入年月日" );
    return false;
  };
  if( !ckDate(chkBuyDate) ) {
    alert( "请输入有效的购入年月日" );
    return false;
  }

  //形名から製品名を設定する
  var product_name = '';
  product_name += $('[name="model_name"]:checked').parent().parent().find($('.product-name')).html();
  $('[name="product_name"]').val(product_name);

  //最終確認メッセージ
  if ( window.confirm('确认注册产品信息吗?') ) {
    $('form[name="regist-product"]').submit();
  } else {
    return false;
  }
}

/*****************************************
  日付チェック 
 ******************************************/
function ckDate(datestr) {
  // 正規表現による書式チェック
  if(!datestr.match(/^\d{4}\-\d{2}\-\d{2}$/)){
    return false;
  }
  var vYear = datestr.substr(0, 4) - 0;
  var vMonth = datestr.substr(5, 2) - 1; // Javascriptは、0-11で表現
  var vDay = datestr.substr(8, 2) - 0;
  // 月,日の妥当性チェック
  if(vMonth >= 0 && vMonth <= 11 && vDay >= 1 && vDay <= 31){
    var vDt = new Date(vYear, vMonth, vDay);
    if(isNaN(vDt)){
      return false;
    }else if(vDt.getFullYear() == vYear && vDt.getMonth() ==vMonth && vDt.getDate() == vDay){
      return true;
    }else{
      return false;
    }
  }else{
    return false;
  }
}


/*****************************************
  リセットボタン押下時のイベント 
 ******************************************/
function resetSearchWord(){
  $('.result-search-products').css('display','none');
  $('[name="serial_number"]').prop('disabled',true);
  $('[name="buy_date"]').prop('disabled',true);
}
      </script>

    <% end %>
  </div><!-- /#regist-product-area -->
</div>
<!-- /.boxBasic01 -->

