<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>智测会｜HIOKI-日置(上海) 商贸有限公司</title>
<link href="/userscenter/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/userscenter/js/scrollsmoothly.js"></script>
</head>

<body>
<%= render partial: "shared/top_header" %>
<div class="im_banner"></div>
<div class="news_content clearfix">
  <%= render partial: "product_left" %>
  <div class="product_right">
    <p class="current"><a href="/index.html">首页</a> > <a href="/userscenter/intellectual/intellectual.php">智测会</a> >製品ユーザ登録・登録製品リスト </p>
    <%= render partial: "main" %>
  </div>
</div>
<%= render partial: "shared/footer" %>
</body>
</html>
