<div id="ajax-result-search-products">
  <p>お手持ちの製品の「形名」、「仕様・備考」をご確認ください。<a href="/image/jp/model_no.jpg" data-lightbox="model_name">（形名の確認方法）</a></p>
  <table style="width:100%;">
    <colgroup>
      <col style="width:auto;">
      <col style="width:auto;">
      <col style="width:auto;">
      <col style="width:auto;">
    </colgroup>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>製品名</th>
        <th>形名</th>
        <th>仕様・備考</th>
      </tr>
    </thead>
    <tbody>
    <% @seihins.each do |seihin| %>
    <tr>
      <td class="search-list-ctrl"><input type="radio" name="product_model_name" value="<%= seihin.product_model_name %>"></td>
      <td class="search-list-pname"><span class="product-name"><%= seihin.product_name %></span></td>
      <td class="search-list-pmodel"><%= seihin.product_model_name %></td>
      <td><%= seihin.note %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
