<div id="ajax-result-search-products">
  <p>お手持ちの製品の「形名」、「仕様・備考」をご確認ください。<a href="/image/jp/model_no.jpg" data-lightbox="model_name">（形名の確認方法）</a></p>
  <table style="width:100%;">
    <colgroup>
      <col style="width:auto;">
      <col style="width:auto;">
      <col style="width:auto;">
      <col style="width:auto;">
    </colgroup>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>製品名</th>
        <th>形名</th>
        <th>仕様・備考</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td class="search-list-ctrl"><input type="radio" name="model_name" value="8847"></td>
      <td class="search-list-pname"><span class="product-name">メモリハイコーダ 8847</span></td>
      <td class="search-list-pmodel">8847</td>
      <td>max16ch　入力ユニット別売</td>
    </tr>
    <tr>
      <td class="search-list-ctrl"><input type="radio" name="model_name" value="MR8847-01"></td>
      <td class="search-list-pname"><span class="product-name">メモリハイコーダ MR8847</span></td>
      <td class="search-list-pmodel">MR8847-01</td>
      <td>max16ch、64MWメモリ, 本体のみ</td>
    </tr>
    <tr>
      <td class="search-list-ctrl"><input type="radio" name="model_name" value="MR8847-02"></td>
      <td class="search-list-pname"><span class="product-name">メモリハイコーダ MR8847</span></td>
      <td class="search-list-pmodel">MR8847-02</td>
      <td>max16ch、256MWメモリ, 本体のみ</td>
    </tr>
    <tr>
      <td class="search-list-ctrl"><input type="radio" name="model_name" value="MR8847-03"></td>
      <td class="search-list-pname"><span class="product-name">メモリハイコーダ MR8847</span></td>
      <td class="search-list-pmodel">MR8847-03</td>
      <td>max16ch、512MWメモリ, 本体のみ</td>
    </tr>
    <tr>
      <td class="search-list-ctrl"><input type="radio" name="model_name" value="MR8847-51"></td>
      <td class="search-list-pname"><span class="product-name">メモリハイコーダ MR8847A</span></td>
      <td class="search-list-pmodel">MR8847-51</td>
      <td>max16ch、64MWメモリ, 本体のみ</td>
    </tr>
    <tr>
      <td class="search-list-ctrl"><input type="radio" name="model_name" value="MR8847-52"></td>
      <td class="search-list-pname"><span class="product-name">メモリハイコーダ MR8847A</span></td>
      <td class="search-list-pmodel">MR8847-52</td>
      <td>max16ch、256MWメモリ, 本体のみ</td>
    </tr>
    <tr>
      <td class="search-list-ctrl"><input type="radio" name="model_name" value="MR8847-53"></td>
      <td class="search-list-pname"><span class="product-name">メモリハイコーダ MR8847A</span></td>
      <td class="search-list-pmodel">MR8847-53</td>
      <td>max16ch、512MWメモリ, 本体のみ</td>
    </tr>
    </tbody>
  </table>
</div>
