<% if (["news", "news_categories", "registrations"].include? controller_name) || (["contact", "recruit", "company", "repair", "distribution", "speech", "history", "counterfeit"].include? action_name) %>
<div class="clearfix"></div>
<p class="m_top45 sp_mt0">&nbsp;</p>
<p class="products_wx_pad pad_block"><img src="/assets_doc/front/html/images/products_wx_pad.jpg" width="100%"></p>
<% end %>
<p class="hioki_page sp_none"><a href="#top"><img src="/assets_doc/front/html/images/hioki_r28_c37.jpg" width="60" height="57" /></a></p>
<% if ["categories", "products"].include? controller_name %>
<p class="products_wx_pad pad_block"><img src="/assets_doc/front/html/images/products_wx_pad.jpg" width="100%" /></p>
<p class="products_wx_sp sp_block"><img src="/assets_doc/front/html/images/hioki_r29_c28_sp.jpg" width="100%" /></p>
<% end %>
<div class="hioki_column">
  <div class="hioki_search clearfix">
    <% if controller_name == "home" &&  (!["contact", "recruit", "company", "repair", "distribution", "speech", "history", "counterfeit"].include? action_name) %>
    <div class="hioki_column01 sp_none">
      <% else %>
      <div class="hioki_column01">
        <% end %>
      <h3 class="hioki_f23">业界商品分类 <span class="hioki_f15">Search Applications</span></h3>
      <ul class="m_top25 clearfix">
        <li><span class="sp_none">&gt; </span><a href="/industries/1">电力/新能源 <span class="hioki_f12">Power, Energy, Environment</span></a></li>
        <li class="m_top10"><span class="sp_none">&gt; </span><a href="/industries/2">汽车 <span class="hioki_f12">Automotive, Transport</span></a></li>
        <li class="m_top10"><span class="sp_none">&gt; </span><a href="/industries/3">电子零件 <span class="hioki_f12">Components, Semiconductors</span></a></li>
        <li class="m_top10"><span class="sp_none">&gt; </span><a href="/industries/4">电池 <span class="hioki_f12">Battery</span></a></li>
        <li class="m_top10"><span class="sp_none">&gt; </span><a href="/industries/5">交通（地铁、铁道、航空）<br />　<span class="hioki_f12">Underground, Railway, Aviation</span></a></li>
        <li>&nbsp;</li>
      </ul>
      <h3 class="hioki_f23">法律信息 <span class="hioki_f15">Legal Information</span></h3>
      <ul class="m_top25 clearfix">
        <li>
          <span class="sp_none">&gt; </span><a href="/html/statement/privacystatement.html" target="_blank">隐私声明 <span class="hioki_f12"></span></a>
        </li>
        <li class="m_top10"><span class="sp_none">&gt; </span><a href="/html/statement/termsofuse.html" target="_blank">使用条款 <span class="hioki_f12"></span></a>
        </li>
      </ul>
    </div>
    <% if ["home", "news", "news_categories", "registrations"].include? controller_name || (["contact", "recruit", "company", "repair", "distribution", "speech", "history", "counterfeit"].include? action_name) %>
    <div class="hioki_column02 clearfix sp_none">
    <% else %>
    <div class="hioki_column02 clearfix">
    <% end %>
      <h3 class="hioki_f23">日置产品一览 <span class="hioki_f15">Search Category</span></h3>
      <%= render partial: "shared/root_categories" %>
    </div>
    <% if (["news", "news_categories", "registrations"].include? controller_name) || (["contact", "recruit", "company", "repair", "distribution", "speech", "history", "counterfeit"].include? action_name) %>
    <div class="hioki_column03 sp_none">
      <% else %>
      <div class="hioki_column03">
        <% end %>
      <h3 class="hioki_f23">关于日置 <span class="hioki_f15">About HIOKI</span></h3>
      <ul class="m_top25">
				<li><a href="/distribution.html"><span class="sp_none">&gt; </span>公司分布</a></li>
        <li class="m_top10"><a href="/speech.html"><span class="sp_none">&gt; </span>高层致辞</a></li>
        <li class="m_top10"><a href="/company.html"><span class="sp_none">&gt; </span>公司概要</a></li>
        <li class="m_top10"><a href="/history.html"><span class="sp_none">&gt; </span>公司沿革</a></li>
      </ul>
      <p class="hioki_column03_wx sp_none pad_none"><img width="385" height="155" src="/assets_doc/front/html/images/hioki_r29_c28.jpg" /></p>
    </div>
  </div>
</div>
    <% if (["news", "news_categories", "registrations"].include? controller_name) || (["contact", "recruit", "company", "repair", "distribution", "speech", "history", "counterfeit"].include? action_name) %>
    <ul class="hioki_columns clearfix sp_block" style="padding-top:0;">
      <li><img src="/assets_doc/front/html/images/hioki_r25_c2_sp.jpg" width="50%" /><img src="/assets_doc/front/html/images/hioki_r25_c4_sp.jpg" width="50%" /></li>
    </ul>
    <% end %>
<div class="footer clearfix">
<h1 class="fl"><img width="220" src="/assets_doc/front/html/images/hioki_r30_c2_pc.jpg" class="imgChange" /></h1>
  <p class="footer_dh"><img width="17" src="/assets_doc/front/html/images/hioki_r31_c14_pc.jpg" class="imgChange" /> 400-920-6010</p>
  <p class="footer_dh"><img width="136" src="/assets_doc/front/html/images/hioki_r32_c18_pc.jpg" class="imgChange" /></p>
  <p class="footer_dh sp_none">日置(上海)商贸有限公司</p>
  <ul class="fr">
    <li><a href="/index.html">&gt; 首　页</a></li>
    <li><a href="/news.html">&gt; 新　闻</a></li>
    <li><a href="/industries/1/products">&gt; 产品一览</a></li>
    <li><a href="/company.html">&gt; 公司介绍</a></li>
    <li><a href="/contact.html">&gt; 联系我们</a></li>
    <li><a href="/repair.html">&gt; 维修中心</a></li>
    <li><a href="/recruit.html">&gt; 招聘信息</a></li>
  </ul>
  <p class="footer_icp clear"><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备05013343号</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102003490" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/assets_doc/images/gongan_icon.png" style="float:left;"/><span style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备 31010102003490号</span></a></p>

</div>
