<% size = @root_categories.size %>
<% middle = (size%2 == 1 ? size/2+1 : size/2) %>
<ul class="hioki_w205 m_top25">
  <% @root_categories[0..(middle-1)].each do |cate| %>
    <li class="m_top10">&gt; <%= link_to cate.name, "/categories/#{cate.id}" %></li>
<% end %>
</ul>
<ul class="fl m_top25">
  <% @root_categories[(middle-1)..(size-1)].each do |cate| %>
    <li class="m_top10">&gt; <%= link_to cate.name, "/categories/#{cate.id}" %></li>
<% end %>
</ul>
