<% size = @root_categories.size %>
<% middle = (size%2 == 1 ? size/2+1 : size/2) %>
 <ul class="m_top25 clearfix">
  <% @root_categories[0..(middle-1)].each do |cate| %>
    <% if cate.id == 31 %>
    <li><span class="sp_none">&gt; </span> <%= link_to cate.name, "/categories/#{cate.id}" %></li>
    <% else %>
    <li class="m_top10"><span class="sp_none">&gt; </span><%= link_to cate.name, "/categories/#{cate.id}" %></li>
    <% end %>
<% end %>
  <% @root_categories[(middle)..(size-1)].each do |cate| %>
    <li class="m_top10"><span class="sp_none">&gt; </span><%= link_to cate.name, "/categories/#{cate.id}" %></li>
<% end %>
</ul>
