<div class="top_bg">
  <div class="top clearfix">
    <p class="fl">中国区维修服务中心（日置(上海) 商贸有限公司）</p>
    <p class="fr">
    <% if session[:user_id].present? %>
      <a href="/sessions/logout" data-method="delete" data-confirm="确认退出吗?">
      <%= image_tag "front/hioki_r1_c30.jpg", width: 28, height: 26 %>
      会员退出
    </a>
    <% end %>
    <%= image_tag "front/hioki_r1_c32.jpg", width: 22, height: 26 %>400-920-6010</p>
  </div>
</div>
<div class="header">
  <h1 class="fl"><a href="/"><%= image_tag "front/hioki_r4_c3.jpg", width: 150, height: 30, alt: "HIOKI" %></a></h1>
  <ul>
    <% if controller_name == "home" && action_name == "index" %>
      <li class="nav_li">
  <% else %>
      <li>
  <% end %>
    <a href="/">首　　页</a>
    </li>
    <% if controller_name == "news" %>
      <li class="nav_li">
  <% else %>
      <li>
  <% end %>
    <a href="/news.html">新　　闻</a>
    </li>
    <% if controller_name == "products" %>
      <li class="nav_li">
  <% else %>
      <li>
  <% end %>
    <a href="/products.html">产品一览</a>
    </li>
    <li><a href="/company.html">公司介绍</a></li>
    <li><a href="/contact.html">联系我们</a></li>
    <% if controller_name == "home" && action_name == "repair" %>
      <li class="nav_li nav_li02">
  <% else %>
      <li class="nav_li02">
  <% end %>
    <a href="/repair.html">维修中心</a>
    </li>
  </ul>
</div>
