<script type="text/javascript">
$(document).ready(function(){
j_setTab("img_handle","a","show","img-show","li","hover",4000,false,false,40,false,false,1,true);
});
</script>


<div class="img-scroll all-bot">
  <ul id="img-show"> 
    <li><span class="sp_block"><a href="html/sale/index.html"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></a></span><span class="pad_block"><a href="/assets_doc/front/html/sale/index.html"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c6_pad.jpg" ></a></span></li>
    <li><span class="sp_block"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c2_sp.jpg" ></span><span class="pad_block"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_pad.jpg" ></span></li>
    <li><span class="sp_block"><a href="html/sale/index.html"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></a></span><span class="pad_block"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c2_pad.jpg" ></span></li>
    <li><span class="sp_block"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c2_sp.jpg" ></span><span class="pad_block"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c3_pad.jpg" ></span></li>
    <li><span class="sp_block"><a href="html/sale/index.html"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></a></span><span class="pad_block"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c4_pad.jpg" ></span></li>
    <li><span class="sp_block"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c2_sp.jpg" ></span><span class="pad_block"><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c5_pad.jpg" ></span></li>
  </ul>
</div>

<div class="hioki_promotion sp_none pad_none"><a href="/html/sale/"><img width="290" height="245" src="/assets_doc/front/html/images/hioki_promotion.jpg"></a><a class="hioki_promotion_x"><img width="26" height="26" src="/assets_doc/front/html/images/hioki_promotion_x.jpg"></a><p><img width="59" height="245" src="/assets_doc/front/html/images/hioki_promotion_bt.jpg"></p></div>

