<div class="top_bg">
  <div class="top clearfix">
    <p class="fl">日置</p>
    <p class="fr">
      <a style="display:none" id="logout_in_header" href="/sessions/logout" data-method="delete" data-confirm="确认退出吗?">
      <%= image_tag "front/hioki_r1_c30.jpg", width: 28, height: 26 %>
      会员退出
			</a>
			<% if session[:user_name].present? %>
      <a href="/sessions/logout" data-method="delete" data-confirm="确认退出吗?">
      <%= image_tag "front/hioki_r1_c30.jpg", width: 28, height: 26 %>
      会员退出
    </a>
    <% end %>
    <%= image_tag "front/hioki_r1_c32.jpg", width: 22, height: 26 %>400-920-6010</p>
  </div>
</div>
<div class="header">
  <h1 class="fl"><a href="/index.html"><%= image_tag "front/hioki_r4_c3.jpg", width: 150, height: 30, alt: "HIOKI" %></a></h1>
  <ul>
    <% if controller_name == "home" && action_name == "index" %>
      <li class="nav_li">
  <% else %>
      <li>
  <% end %>
    <a href="/index.html">首　　页</a>
    </li>
    <% if controller_name == "news" %>
      <li class="nav_li">
  <% else %>
      <li>
  <% end %>
    <a href="/news.html">新　　闻</a>
    </li>
    <% if controller_name == "products" || action_name == "products" %>
      <li class="nav_li">
  <% else %>
      <li>
  <% end %>
    <a href="/industries/1/products">产品一览</a>
    </li>
    <% if action_name == "company" %>
      <li class="nav_li">
  <% else %>
      <li>
  <% end %>
			<a href="/company.html">公司介绍</a>
		</li>
    <% if action_name == "contact" %>
      <li class="nav_li">
  <% else %>
      <li>
  <% end %>
			<a href="/contact.html">联系我们</a>
		</li>
    <% if controller_name == "home" && action_name == "repair" %>
      <li class="nav_li nav_li02">
  <% else %>
      <li class="nav_li02">
  <% end %>
    <a href="/repair.html">维修中心</a>
    </li>
  </ul>
</div>
