<script type="text/javascript">
$(document).ready(function(){
j_setTab("img_handle","a","show","img-show","li","hover",4000,false,false,40,false,false,1,true);
});
</script>
<div class="img-scroll all-bot">
  <ul id="img-show"> 
    <li><span><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></span></li>
    <li><span><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></span></li>
    <li><span><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></span></li>
    <li><span><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></span></li>
    <li><span><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></span></li>
    <li><span><img width="100%" src="/assets_doc/front/html/images/hioki_r7_c1_sp.jpg" ></span></li>
  </ul>
</div>

<p class="hioki_promotion sp_none pad_none"><a href="/html/sale/"><img width="290" height="245" src="/assets_doc/front/html/images/hioki_promotion.jpg" alt="Hioki promotion" /></a></p>
