@media only screen and (min-width:768px) and (max-width:1300px){
.pad_block{display:block;}
.pad_inline{display:inline;}
.pad_none{display:none;}
.pad_center{text-align:center;}
.pad_w94 {width: 94%;}
.pad_w100{width:100%; height:auto;}
.pad_fn {float: none;}
.pad_pl3 {padding-left: 3%;}
.pad_ml3 {margin-left: 3%;}

.pad_mt0{margin-top:0px;}
.pad_mt5{margin-top:5px;}
.pad_mt10{margin-top:10px;}
.pad_mt15{margin-top:15px;}
.pad_mt20{margin-top:20px;}
.pad_mt25{margin-top:25px;}
.pad_mt30{margin-top:30px;}
.pad_mt35{margin-top:35px;}
.pad_mt40{margin-top:40px;}
.pad_mt50{margin-top:50px;}
.pad_pt20{padding-top: 20px;}
.company_left_pad {width:46%;padding-right:5%;}
.distribution_fb li, .distribution_fb2 li {width:29%;}
.distribution_fb {width:100%;}
.distribution_x {width:100%;}
.distribution_fb {background:none;}
.distribution_fb li {border-right: 1px dashed #d0d0d0;border-bottom: 1px dashed #d0d0d0;}
.distribution_fb li.pad_bd0 {border-right:none;}
.distribution_fb li.pad_bd1 {border-bottom:none;}

.contact_t55 {padding-left:5%;}
.register_dl dt {width:70%;}
.register_dl dd{width:20%; padding-left:5%;}
.register_dl_else dd {width:8%;}
.register_dl_else dt {width:87%;}
.register_dl_else .register_text {width:100%;}

.register_other dd {width:12%;}
.register_other dt {width:83%;}
.register_other dt .register_text {width:64%;}
.register_text_lis

.repair_card_pad {box-sizing: border-box;padding:3%;}
.repair_tips {width:35%;padding-bottom:50px;}
.repair_tips01 {background: #F4F4F4 url(/assets_doc/front/html/images/repair_r13_c4.jpg) no-repeat 65px 175px;}
.repair_tips03 {background: #F4F4F4 url(/assets_doc/front/html/images/repair_r15_c5.jpg) no-repeat 88px 149px;}
.repair_f22_sp {font-size:22px; }
.counterfeit_genuine .counterfeit_td {width:51%;}
.counterfeit_genuine .counterfeit_text {width:94%;}
.soft_parameter{width:100%;border-top:#C5C6C7 1px solid; border-left:#C5C6C7 1px solid;}
.soft_parameter th{border-right:#C5C6C7 1px solid; border-bottom:#C5C6C7 1px solid; font-size:14px; padding:15px 6px;}
.soft_parameter_else th {width:12%;}
.soft_parameter td{border-right:#C5C6C7 1px solid; border-bottom:#C5C6C7 1px solid; padding:4px; color:#666;font-size: 13px;}

.productArea {width:100%;}
.productArea .product {width:31%;margin:0 0px 40px 2%;}

.product_search {width:100%;padding:4px 0 0 2%;box-sizing: border-box;}
.product_search li {margin-right:1%;font-size: 14px;}
.product_search li:nth-child(1) {width:14%;}
.product_search li:nth-child(2) {width:40%;}
.product_search li:nth-child(3) {width:40%;}
.product_search li select[name=category_id] {width:69%;}
.product_number {width:30%;position: relative;}
.product_number p {width:31%;}
.product_number input[type=text] {width:51%;}
.product_number input[type=submit] {position: absolute;right:0;}
.product_search input, .product_search select {font-size: 15px;}
.im_table td {font-size: 12px;}

.header{width:94%; height:27px; padding:12px 3%; position:relative;}
.header h1 img{width:170px;}
.header #land{padding:0 15px;}
.hioki_land_sp{width:94%; padding:15px 3% 60px 3%; border-top:#E6E6E6 1px solid; background:#FFF; position:absolute; top:51px; left:0; z-index:100;}
.hioki_land_sp h3{height:42px; font-size:24px; font-weight:normal; line-height:140%; text-align:center;}
.hioki_land_sp .hioki_login{width:94%; padding:25px 3%; background:#EAEAEA;}
.hioki_land_sp .hioki_login label{float:left; color:#666; font-size:16px; line-height:30px;}
.hioki_land_sp .hioki_login span{margin-left:55px; display:block;}
.hioki_land_sp .hioki_login input[type=text],.hioki_land_sp .hioki_login input[type=password]{width:96%; height:30px; color:#666; font-size:16px; line-height:30px; padding:0 2%; border:none;}
.hioki_land_sp .hioki_login .sidebar_ld{width:100%; height:35px; color:#FFF; font-size:18px; line-height:35px; margin-top:15px; border:none; display:block; text-align:center; background:#0770D8 url(/assets_doc/front/html/images/hioki_sidebar_jt.png) no-repeat right center; background-size:30px auto;}
.hioki_land_sp .hioki_login .hioki_forgot{font-size:14px; text-align:center; padding-top:15px;}
.hioki_land_sp .hioki_register a{width:100%; height:35px; color:#FFF; font-size:18px; line-height:35px; margin-top:30px; border:none; display:block; text-align:center; background:#F6AF19 url(/assets_doc/front/html/images/hioki_sidebar_jt.png) no-repeat right center; background-size:30px auto;}
.hioki_land_sp .sidebar_p.recorder_f18{font-size:22px; line-height:30px; text-align:center;}
.hioki_land_sp li a{width:100%; height:35px; color:#FFF; font-size:18px; line-height:35px; margin-top:15px; border:none; display:block; text-align:center; background:#0770D8 url(/assets_doc/front/html/images/hioki_sidebar_jt.png) no-repeat right center; background-size:30px auto;}
.hioki_land_sp li:last-child a{background:#C30D23 url(/assets_doc/front/html/images/hioki_sidebar_jt.png) no-repeat right center; background-size:30px auto;}
.header .hioki_register_gb#land#land{padding:15px 0 0 0; text-align:right; font-size:18px; line-height:28px;}
.hioki_register_gb i{width:20px; height:20px; margin-left:5px; display:inline-block; vertical-align:text-bottom; position:relative;}
.hioki_register_gb i::before, .hioki_register_gb i::after{content:'';  position:absolute; height:2px; width:100%; top:50%; left:0; margin-top:-1px; background:#175FA7;}
.hioki_register_gb i::before{-webkit-transform:rotate(45deg);  -moz-transform:rotate(45deg); transform:rotate(45deg);}
.hioki_register_gb i::after{-webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg);
transform:rotate(-45deg);}
.hioki_nav_sp{width:100%; padding-bottom:25px; border-top:#E6E6E6 1px solid; background:#FFF; position:absolute; top:51px; left:0; z-index:100;}
.hioki_dhyy{width:94%; height:32px; padding:12px 3% 0 3%;}
.hioki_dhyy dd{float:left; color:#1860A8; font-size:20px; font-weight:bold;}
.hioki_dhyy dt{float:right; font-size:15px;}
.hioki_dhyy img{ vertical-align:top;}
.hioki_nav_search{width:100%; height:45px; margin:0 auto; display:block; background:#EEEEF0; border-radius:3px;}
.hioki_nav_search input[type=text]{width:88%; height:45px; color:#666; font-size:16px; padding-left:2%; border:none; vertical-align:middle; background:none;}
.hioki_nav_search input[type=button]{width:10%; height:45px; border:none; background:url(/assets_doc/front/html/images/hioki_nav_button.png) no-repeat center; background-size:auto 80%;}
.hioki_menu{margin-top:15px; border-top:#E6E6E6 1px solid;}
.hioki_menu li a{width:89%; height:45px; font-size:16px; line-height:45px; padding:0 5% 0 6%; display:block; border-bottom:#E6E6E6 1px solid; position:relative;}
.hioki_menu li a i{position:absolute; right:5%; top:15px;}
.img-scroll{height:auto;}
#img-show li{height:auto; background:none;}
.hioki_search_bg{width:94%; padding:25px 3% 25px 3%; background-size:26px auto;}
.hioki_search{width:100%;}
.hioki_search_title{font-size:26px; line-height:34px;}
.hioki_search_title span{font-size:14px; line-height:24px;}
#img_handle a{width:18.4%; float:left; margin-left:2%;}
#img_handle a:nth-child(1){display:none;}
#img_handle a:nth-child(2){margin-left:0;}
.hioki_categories{width:100%; height:auto; float:none; padding-top:10px; margin-left:0;}
.hioki_categories .hioki_f31{font-size:20px; line-height:28px;}
.hioki_categories .m_top5{height:45px;font-size:10px; line-height:15px; margin-top:0; letter-spacing:-0.02em;}
#img_handle a:nth-child(6) .hioki_categories .m_top5{height:23px; padding:5px;}
.hioki_categories .hioki_f15.m_top15{display:none;}
.hioki_categories dd{margin-top:0;}
.hioki_categories dd img{width:100%; height:auto;}
.hioki_categories .hioki_f31 .hioki_f15{font-size:12px; line-height:12px; display:block;}
.hioki_brand a{width:100%; min-width:100%; height:300px; display:block; background:url(/assets_doc/front/html/images/hioki_brand.jpg) no-repeat center top; background-size:auto 100%;}
.hioki_news_bg{width:100%; padding:30px 0; background-size:90px auto}
.hioki_news_title{width:94%; height:70px; float:none; color:#333; padding:0 3% 0 3%; text-align:center; background:none; position:relative;}
.hioki_news_title .hioki_f22{color:#195FA9; font-size:26px; line-height:34px;}
.hioki_news_title .hioki_f22 span{font-size:14px; line-height:24px; display:block;}
.hioki_news_title ul{display:none;}
.hioki_news_title p.hioki_f15.m_top5{width:80px; height:30px; padding:0 10px; line-height:30px; border:#175FA9 1px solid; background:#FFF; position:absolute; top:0; right:3%;}
.hioki_news_title p.hioki_f15.m_top5 a{color:#333;}
.hioki_news_title p.hioki_f15.m_top5 a span{color:#175FA9; font-weight:bold;}
.hioki_news{width:94%; height:auto; float:none; padding:10px 3%;}
.hioki_columns{width:94%; padding:25px 3% 0 3%;}
.hioki_columns li{width:31.3%; padding-left:3%;}
.hioki_columns li img{width:100%; height:auto;}
.hioki_columns #try-1{padding-left:0;}
.hioki_category_bg{width:96%; padding:0 2%;}
.hioki_category_title{font-size:26px; line-height:34px; margin-top:30px;}
.hioki_category_title span{font-size:14px; line-height:24px; display:block;}
.hioki_category{width:22.2%; height:72px; padding-left:1%; margin-bottom:15px;}
.hioki_category.m_left25{margin-left:2%}
.hioki_category a{display:block;}
.hioki_category dd{display:table-cell; width:70px;}
.hioki_category dd img{width:70px; height:auto; margin:5px 0;}
.hioki_category dt{width:68%; height:auto; font-size:13px; line-height:18px; display:table-cell; vertical-align:middle; padding-left:4%;}
.hioki_category02{width:23.2%; height:74px; margin-left:2%; margin-bottom:10px; text-align:center; vertical-align:middle;}
.hioki_category02 a{font-size:13px; padding:24px 0 24px 0;}
.hioki_category03{width:23.2%; height:62px; margin-left:2%; margin-bottom:10px; padding-top:10px; vertical-align:middle;}
.hioki_category03 a{font-size:13px; padding:3px 0 3px 15%;}
.hioki_activity{width:100%; padding:0 0 20px 0; margin-top:15px;}
.hioki_column01{width:35%; height:335px; padding-left:3%;}
.hioki_column02{width:33%; height:335px; padding-left:3%; border-right:#000000 1px dotted;}
.hioki_w205{width:96%;}
.hioki_column03{padding-left:3%;}
.hioki_column01 .hioki_f23,.hioki_column02 .hioki_f23,.hioki_column03 .hioki_f23{font-size:20px; line-height:26px;}
.hioki_column01 .hioki_f23 span,.hioki_column02 .hioki_f23 span,.hioki_column03 .hioki_f23 span{font-size:12px;}
.footer{width:96%; margin:0 auto; padding:25px 2% 10px 2%;}
.footer ul.fr{width:630px; float:none; padding:10px 0 0 20px; margin:0 auto; clear:both;}
.footer_icp{padding-top:20px;}
.hioki_page{position:fixed; right:20px; bottom:20px; z-index:1;}

.news_content{width:96%; padding:0 2% 0 2%;}

.product_banner{width:100%; height:auto; background:none;}
.product_title{width:100%; height:auto; padding:15px 0;}
.product_title ul li{width:18.4%; height:auto; margin-left:2%;}
.product_title ul li img{width:100%; height:auto;}
.product_title ul li p{position:absolute; top:auto; left:50%; margin-left:-6px; display:none;}
.product_title ul li p img{width:auto; height:10px; margin-top:5px;}
.product_dljs{display:none;}
#pic_corpus_01.hioki_search,#pic_corpus_02.hioki_search,#pic_corpus_03.hioki_search,#pic_corpus_04.hioki_search,#pic_corpus_05.hioki_search{width:96%; padding:0 2%;}
#pic_corpus_01.hioki_search ul.m_top45,#pic_corpus_02.hioki_search ul.m_top45,#pic_corpus_03.hioki_search ul.m_top45,#pic_corpus_04.hioki_search ul.m_top45,#pic_corpus_05.hioki_search ul.m_top45{margin-top:30px;}
.hioki_search li.m_left25.fl{width:23.2%; height:74px; margin-left:2%; background:url(/assets_doc/front/html/images/products_application_pc.jpg) no-repeat center bottom; background-size:auto 100%;}
.hioki_search li.m_left25.fl img{width:100%;}
.products_wx_pad{width:60%; margin:20px auto;}

.product_industry_title{padding:10px 2% 10px 2%; text-align:center;}
.product_industry_title .hioki_category_xx{display:none;}
.product_industry{padding:15px 2% 15px 2%;}
.product_right {width:100%;float:none;padding-left: 0;}
.product_right_pad{ padding:0 0 20px 0;box-sizing: border-box;}
.product_f25{font-size:22px; line-height:30px;}
.product_f25_pad {font-size: 19px;}
.product_category{width:100%; margin-top:15px;}
.product_category li,.product_category li.product_category_li{width:32%; height:44px; float:left; margin:0 0 15px 2%; background:linear-gradient(#F7F7F7, #D9D9D9);}
.product_category li:nth-child(1),.product_category li:nth-child(4),.product_category li:nth-child(7),.product_category li:nth-child(10){margin:0 0 12px 0;}
.product_category li a,.product_category li.product_category_li a{height:44px; float:none; font-size:12px; line-height:16px; padding:0 20px 0 10px; margin:0; display:table-cell; vertical-align:middle; background:url(/assets_doc/front/html/images/product_r3_c4_sp.png) no-repeat 95% center; background-size:5px auto;}
.product_category li.product_category_li{background:linear-gradient(#1F679E, #1C599E);}
.product_category li.product_category_li a{background:url(/assets_doc/front/html/images/product_r3_c5_sp.png) no-repeat 95% center; background-size:5px auto;}
.product_list li{width:100%; margin-bottom:12px;}
.product_list dl{width:auto;}
.product_dz img{width:70px; height:auto;}
.product_dt01 .product_f21{font-size:18px; line-height:26px; font-weight:normal;}
.product_dt01 .product_f16{color:#666; font-size:14px; line-height:20px;}
.product_dt02{height:26px; font-size:14px; line-height:26px; position:absolute; top:16px; right:16px;}

.recorder_title li{width:15.8%; height:60px; float:left; color:#FFF; font-size:19px; line-height:60px; margin-right:1px; text-align:center; background:url(/assets_doc/front/html/images/recorder_r3_c4.jpg) repeat-x; cursor:pointer;}
.recorder_title li#S_Menu_03{width:20%; height:56px; line-height:26px; padding-top:4px;}
.recorder_content{width:100%;}
.recorder_basic,.recorder04_basic{width:98%; padding-left:2%;}
.recorder_related{width:28%; height:auto; margin-right:2%; padding:10px 1.5% 15px 1.6%;}
.recorder_related:last-child{margin-right:0;}
.recorder_related_img img{width:100%;}
.recorder_jly{font-size:12px;}
.recorder_related .recorder_blue{height:40px;}
.recorder_parameter{width:100%;}
.recorder_parameter th:first-child{font-size:12px; padding:15px 0 15px 3%;}
.recorder_parameter th:first-child{width:30%;}
.recorder_parameter td{padding:10px 2% 10px 3%;}
.recorder_option{width:100%; background:url(/assets_doc/front/html/images/recorder02_01.jpg) repeat-y; background-size:96% 203px;}
.recorder_assembly{width:50%; height:175px; float:left; padding-top:27px; position:relative;}
.recorder_assembly dt{width:auto; float:none; padding-left:0; padding-right:15px; margin-left:105px; font-size:12px; line-height:20px;}
.recorder_assembly dt .recorder_f18{font-size:16px; line-height:24px;}
#pic_corpus_04 table{width:100%;}
.recorder_please{width:54%;}
.recorder_login{width:150px; height:65px; margin-top:35px; margin-right:15px; background:url(/assets_doc/front/html/images/recorder04_01.jpg) no-repeat; background-size:100% auto;}
.recorder_sign .m_top35 img{width:150px; height:auto;}
.recorder04_content{width:100%;}
.recorder_upgrade th:last-child{width:12%;}

.product_left{width:100%; float:none;}
.product_left h3{width:96%; height:50px; font-size:20px; line-height:50px; padding:0 2%; margin-top:20px; text-align:left;}
.product_left h3 span{font-size:12px; padding-left:5px;}
.product_left ul li{width:50%; height:50px; float:left; margin:0; border-bottom:none;}
.product_left ul li a{width:88%; height:25px; font-size:16px; line-height:25px; padding:12px 6%; display:block; border-left:1px solid #FFF; margin-left:-1px; border-bottom:1px solid #FFF; background:#F4F4F4 url(/assets_doc/front/html/images/hioki_column_jt03.png) no-repeat 95% center; background-size:8px auto;}
.product_left .categories_list0 li a {font-size: 14px;}

.application_w590{width:49%;}
.application_ind{width:96%; padding:0px 2%;}
.application_w590 h3{height:60px; font-size:20px; line-height:60px;}
.application_w590 ul{padding-top:15px; padding-left:20px;}
.application_w590 ul li{height:auto; color:#2C4E6D; font-size:16px; line-height:22px; padding:5px 0;}

.w100_pc {width:171px;height:157px;}
.w100_pc1 {width:644px;height:181px;}
.t_center_pc {width:360px;}
.Hi_12_h16_pc {width:347px;height: 360px;}
.Hi_12_h16_pc1 {width:620px;height:230px;}
.pc_table {width:100%;}
.hi_1201 {width:48%;}
.speech_left {width:100%;}
.history_table {width:98%;}
.pad_mt15 {margin-top: 15px;}


.news_right {width:100%;padding-left:0;}
.new_info {width:100%;margin:20px auto 0 auto;overflow: hidden;}
.new_info ul {width:100%;}
.new_info ul li {width:30%;text-align:center;float:left;margin-right:5%;height:60px;line-height: 60px;border-radius: 3px;}
.new_info ul li a {display: block;color:#fff;font-size: 30px;}
.new_info ul li:nth-child(1) {background: #195fa8;}
.new_info ul li:nth-child(2) {background: #006934;}
.new_info ul li:nth-child(3) {background: #2ca6e0;margin-right: 0;}

.recruit_table {overflow: hidden;width:100%;}
.recruit_table tr td {box-sizing: border-box;}
.pad_break {word-wrap: break-word;}

.methods_listDl dd .txtBox {width:100%;}

.tables_list {width:100%;overflow: hidden;}
.tables_list li {width:33%;float:left;}
.tables_list li img {display:block;width:200px;height:138px;}
.tables_list li p {text-align:left;margin-top: 5px;}


.tables_list_b {width:100%;overflow: hidden;}
.tables_list_b li {width:25%;float:left;}
.tables_list_b li img {display:block;width:150px;height:100px;}
.land_spding {padding:0 13px 0;}

.video{position:relative; width:320px; height:220px;}
.video #iframeId{position:absolute; top:0; left:0;}

}
