<% content_for :head do %>
<link rel="stylesheet" media="screen" href="/assets_doc/front/html/css/colorbox.css" />
<script src="/assets_doc/front/html/js/jquery.colorbox.js"></script>
<script src="/assets_doc/front/html/js/script.js"></script>
<script src="/assets_doc/front/html/js/tabslide.js"></script>
<script>
	$(document).ready(function(){
	//Examples of how to assign the Colorbox event to elements
		$(".health01").colorbox({iframe:true, innerWidth:1100, innerHeight:630});
		$(".callbacks").colorbox({
			onOpen:function(){ alert('onOpen: colorbox is about to open'); },
			onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
			onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
			onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
			onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
		});

		$('.non-retina').colorbox({rel:'group5', transition:'none'})
		$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
		//Example of preserving a JavaScript event for inline calls.
		$("#click").click(function(){ 
			$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
			return false;
		});
	});
</script>
<% end %>

<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="company_banner sp_none pad_none"></div>
<div class="pad_block sp_none"><img src="/assets_doc/front/html/images/company_r1_c1_pad.jpg" width=100%></div>
<div class="company_banner_sp sp_block"><img src="/assets_doc/front/html/images/about_sp.png" class="sp_w100"></div>
<div class="news_content clearfix">
  <div class="product_left" >
	  <h3 class="about_sp">公司介绍<br class="sp_none pad_none"><span class="hioki_f15">Company</span></h3>
	<ul class="m_top10 clearfix sp_mt0 pad_mt0">
	  <li><a href="distribution.html">公司分布</a></li>
	  <li><a href="speech.html">董事长致辞</a></li>
	  <li><a href="company.html">公司概要</a></li>
      <li><a href="history.html">公司沿革</a></li>
	</ul>
  </div>
  <div class="product_right product_right_pad product_right_sp sp_fn sp_f12 product_right_sp product_right_pad">
  	<p class="current sp_none"><a href="../index.html">首页</a> > <a href="company.html">公司介绍</a> > 公司概要</p>
    <h3 class="product_f25 m_top20 sp_bg">公司概要</h3>
    <div class="m_top45 clearfix sp_mt15">
      <div class="company_left company_left_pad sp_fn sp_w94 sp_pd0">
      	<h3 class="product_f20 recorder_blue">HIOKI的企业目标形象</h3>
        <p class="m_top15">以挑战ONLY ONE，成为高附加值的企业为目标<br />
为了企业的不断发展，在最大限度的发挥每个个体的自我能力的同时，必须是一个优秀的企业市民。<br />
我们将"尊重人性"和"贡献社会"的企业理念作为全体员工的基本价值观，将其具体化则是企业的使命，即社会的责任。因此，我们为了能努力成为所有利益相关者能信赖的人，以及能提供高品质的产品和最优良的服务，而不断挑战ONLY ONE，旨在成为高附加值企业。
        </p>
      </div>
      <p class="left sp_w94 sp_mt20"><img width="350" height="220" src="/assets_doc/front/html/images/company_r4_c3.jpg" alt="Company r4 c3" class="sp_w100 sp_pd0 sp_fn pad_mt20"/></p>
    </div>
    <p class="m_top45 sp_mt10">&nbsp;</p>
    <p class="t_center sp_w94"><img width="460" height="580" src="/assets_doc/front/html/images/company_r6_c2.jpg" alt="Company r6 c2" class="sp_w100"/></p>
    <div class="m_top45 sp_w94 sp_mt20"><table width="925" border="0" cellspacing="0" cellpadding="0" class="company_table pad_w94 sp_w100">
  <tr>
    <th bgcolor="#84AED4">公司名称</th>
    <td>日置(上海) 商贸有限公司</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">成立</th>
    <td>2007年4月</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">公司地址</th>
    <td>上海市黄浦区西藏中路268号来福士广场4705室</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">邮编</th>
    <td>200001</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">电话</th>
    <td>021-63910350；63910096,0097,0090,0092</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">传真</th>
    <td>021-63910360</td>
  </tr>
  <tr>
    <th bgcolor="#84AED4">邮箱地址</th>
    <td><a href="mailto:info@hioki.com.cn">info@hioki.com.cn</a></td>
  </tr>
</table>
    </div>
  </div>
</div>
<%= render partial: "shared/footer" %>
