<a name="top" id="top"></a>
<%= render partial: "shared/top_header" %>
<div class="contact_banner"></div>
<div class="news_content clearfix">
  <div class="product_left" >
	<h3>联系我们<br /><span class="hioki_f15">Contact</span></h3>
	
  </div>
  <div class="product_right">
  	<p class="current"><a href="index.html">首页</a> > 联系我们</p>
    <div class="contact_lx t_center">
      <p class="contact_bt"><strong>日置(上海) 商贸有限公司联系方式</strong></p>
      <p class="product_f20 m_top25"><%= image_tag "front/contact_r2_c2.jpg", width: 26, height: 26 %>&nbsp;&nbsp;<strong>021-63343307/3308</strong></p>
      <p class="m_top15">地址：上海市黄浦区西藏中路268号来福士广场4705室 邮编：200001</p>
    </div>
    <p class="m_top30">红色星号标注的项目为必须填写的项目</p>
    <div class="register_content">
      <dl class="register_dl clearfix">
      	<dd class="register_dd">姓名</dd>
        <dt>
          <input name="" type="text" class="register_text" />
        </dt>
      </dl>
      <dl class="register_dl clearfix">
      	<dd class="register_dd">公司名</dd>
        <dt>
          <input name="" type="text" class="register_text" />
        </dt>
      </dl>
      <dl class="register_dl clearfix">
      	<dd class="register_dd">部门</dd>
        <dt>
          <input name="" type="text" class="register_text" />
        </dt>
      </dl>
      <dl class="register_dl clearfix">
      	<dd class="register_dd">地址</dd>
        <dt>
          <input name="" type="text" class="register_text" />
        </dt>
      </dl>
      <dl class="register_dl clearfix">
      	<dd class="register_dd">邮编</dd>
        <dt>
          <input name="" type="text" class="register_text" />
        </dt>
      </dl>
      <dl class="register_dl clearfix">
      	<dd class="register_dd">电话</dd>
        <dt>
          <input name="" type="text" class="register_text" />
        </dt>
      </dl>
      <dl class="register_dl clearfix">
      	<dd class="register_dd">传真</dd>
        <dt>
          <input name="" type="text" class="register_text" />
        </dt>
      </dl>
      <dl class="register_dl clearfix">
      	<dd class="register_dd">E-mail</dd>
        <dt>
          <input name="" type="text" class="register_text" />
        </dt>
      </dl>
      <dl class="register_dl clearfix" style="border:none;">
      	<dd>咨询内容</dd>
        <dt><textarea cols="" class="register_textarea" style="width:640px;"></textarea>
        </dt>
      </dl>
      <p>※取得的顾客个人信息我们将严格进行管理，除了与贵公司之间的咨询外，一切禁止使用。<br />
※提交后，我们会尽快给您回复，请耐心等待。</p>
	  <p class="recorder_red t_center m_top20">请问以上内容是否正确？如果正确的话请点选提交。</p>
      <p class="counterfeit_fill"><input name="" type="submit" class="counterfeit_button01" value="" />　　<input name="" type="reset" class="contact_button03" value="" /></p>
    </div>
  </div>
</div>
<p class="m_top45">&nbsp;</p>
<%= render partial: "shared/footer" %>
