<a name="top" id="top"></a>
<%= render partial: "shared/top_header" %>
<div class="counterfeit_banner"></div>
<div class="news_content clearfix">
  <div class="product_left" >
	<h3>伪造品提示<br /><span class="hioki_f15">Counterfeit</span></h3>
	
  </div>
  <div class="product_right">
  	<p class="current"><a href="index.html">首页</a> > 伪造品提示</p>
    <h3 class="m_top45"><%= image_tag "front/counterfeit_r4_c3.jpg", width: 595, height: 42 %></h3>
    <p class="recorder_f16 m_top30">近期中国市场，特别是华南深圳地区出现一些假冒伪劣及非正规渠道购买的日置产品，日置公司对于此类产品不保证任何安全、质量等问题，由于使用该产品产生任何问题，日置公司概不负责。同时也不提供此类产品的维修服务。因此为了保证广大中国用户能安心使用日置产品特此声明。<br />
<br />
日置公司将定期进行抽奖活动，并寄送奖品，请保证您填写的内容准确、真实，以便可以顺利收到奖品。<br />
以上<br />
<br />
日置（上海）商贸有限公司<br />
2009年9月1日</p>
    <h3 class="recorder_f16 recorder_red m_top30">填写以下表格验证正品。</h3>
    <div class="counterfeit_genuine recorder_f16"><table width="950" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="25">&nbsp;</td>
    <td width="125">日置产品型号</td>
    <td width="510"><input type="text" name="textfield" id="textfield" class="counterfeit_text" /></td>
    <td>请填写您所购买的产品型号</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>日置产品序列号</td>
    <td><input type="text" name="textfield" id="textfield" class="counterfeit_text" /></td>
    <td>请填写您所购买的产品序列号</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>联系人姓名</td>
    <td><input type="text" name="textfield" id="textfield" class="counterfeit_text" /></td>
    <td>请填写您的真实姓名</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>单位名称</td>
    <td><input type="text" name="textfield" id="textfield" class="counterfeit_text" /></td>
    <td>请填写您所在单位的名称</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>通讯地址</td>
    <td><input type="text" name="textfield" id="textfield" class="counterfeit_text" /></td>
    <td>请填写您的通讯地址</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>联系电话</td>
    <td><input type="text" name="textfield" id="textfield" class="counterfeit_text" /></td>
    <td>请填写您的联系电话</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>联系人邮箱</td>
    <td><input type="text" name="textfield" id="textfield" class="counterfeit_text" /></td>
    <td>请填写您的邮箱地址</td>
  </tr>
</table>
	  <p class="counterfeit_fill"><input name="" type="submit" class="counterfeit_button01" value="" />　　<input name="" type="reset" class="counterfeit_button02" value="" /></p>
    </div>
  </div>
</div>
<p class="m_top45">&nbsp;</p>
<%= render partial: "shared/footer" %>
