<% content_for :head do %>
<link rel="stylesheet" media="screen" href="/assets_doc/front/html/css/colorbox.css" />
<script src="/assets_doc/front/html/js/jquery.colorbox.js"></script>
<script src="/assets_doc/front/html/js/script.js"></script>
<script src="/assets_doc/front/html/js/tabslide.js"></script>
<script>
	$(document).ready(function(){
		var winWidth;
    if (window.innerWidth)
      winWidth = window.innerWidth;
    else if ((document.body) && (document.body.clientWidth)) {
      winWidth = document.body.clientWidth;
    }
	//Examples of how to assign the Colorbox event to elements
		if(winWidth > 1300){
			$(".health01").colorbox({iframe:true, innerWidth:925, innerHeight:515});
		}
		if(winWidth > 767 & winWidth < 1300){
			$(".health01").colorbox({iframe:true, innerWidth:768, innerHeight:515});
		}
		if(winWidth < 767){
			{$(".health01").removeClass("cboxElement");}
		}
		$(".callbacks").colorbox({
			onOpen:function(){ alert('onOpen: colorbox is about to open'); },
			onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
			onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
			onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
			onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
		});

		$('.non-retina').colorbox({rel:'group5', transition:'none'})
		$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
		//Example of preserving a JavaScript event for inline calls.
		$("#click").click(function(){ 
			$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
			return false;
		});
	});
</script>
<% end %>
<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="company_banner sp_none pad_none"></div>
<div class="pad_block sp_none"><img src="/assets_doc/front/html/images/company_r1_c1_pad.jpg" width=100%></div>
<div class="company_banner_sp sp_block"><img src="/assets_doc/front/html/images/about_sp.png" class="sp_w100"></div>
<div class="news_content clearfix">
  <div class="product_left" >
<h3 class="about_sp">公司介绍<br class="sp_none pad_none"><span class="hioki_f15">Company</span></h3>
	<ul class="m_top10 clearfix sp_mt0 pad_mt0">
	  <li><a href="distribution.html">公司分布</a></li>
	  <li><a href="speech.html">高层致辞</a></li>
	  <li><a href="company.html">公司概要</a></li>
      <li><a href="history.html">公司沿革</a></li>
	</ul>
  </div>
  <div class="product_right product_right_pad product_right_sp">
    <p class="current sp_none"><a href="../index.html">首页</a> > <a href="company.html">公司介绍</a> > 公司分布</p>
    <p class="m_top20 sp_pl3 sp_mt10"><strong class="product_f25 sp_color">世界分布</strong>　<span class="sp_none">※点击选择国家查看具体分布</span></p>
    <p class="m_top45 sp_none">&nbsp;</p>
    <p class="sp_none pad_w94"><img width="1100" height="605" border="0" usemap="#Map" src="/assets_doc/front/html/images/distribution_r1_c1.jpg" alt="Distribution r1 c1" class="pad_w100"/>
      <map name="Map" id="Map">
        <area shape="poly" coords="963,7,908,4,871,15,858,25,846,28,830,33,814,41,781,56,776,70,773,83,764,95,742,101,730,101,682,92,658,105,652,108,649,125,653,147,669,163,676,164,668,177,676,177,692,169,704,156,711,155,728,158,750,182,753,190,760,190,766,197,767,201,778,217,778,249,788,269,796,273,819,310,819,297,832,312,831,323,854,336,864,335,880,345,905,365,911,361,912,369,913,380,903,400,903,410,916,441,934,454,933,496,924,530,921,562,925,590,940,603,947,602,939,589,947,571,952,549,963,531,975,525,1000,493,1015,472,1028,456,1039,414,1029,400,1002,393,991,380,982,369,974,369,954,353,929,351,917,361,906,357,897,354,897,338,883,335,889,319,879,317,872,324,863,325,852,305,857,291,866,285,879,288,885,284,895,288,901,289,901,299,897,313,917,322,925,328,945,329,938,322,918,316,906,310,909,297,903,283,917,265,927,247,937,231,953,229,965,225,967,217,957,220,953,215,959,210,969,216,985,215,984,207,979,192,973,179,953,155,945,163,937,152,928,143,917,142,910,161,919,170,912,181,911,195,909,199,901,189,903,180,895,177,875,171,868,162,870,139,879,136,895,141,901,147,904,133,913,131,926,131,932,141,942,143,953,141,962,119,951,108,945,98,929,86,913,80,907,73,912,57,921,39,939,24" href="#d8" />
        <area shape="poly" coords="423,240,451,240,452,255,422,255,423,264,415,269,413,265,415,255,423,252" href="#d4" />
        <area shape="poly" coords="458,223,459,229,455,236,455,242,453,254,447,258,445,256,444,263,433,264,423,273,425,276,427,281,457,265,458,280,486,281,484,267,460,267,458,259,461,249,459,239,463,237,470,234,472,229,464,229" href="#d3" />
        <area shape="poly" coords="402,301,396,303,395,308,399,316,406,321,431,321,429,306,402,307" href="#d2" />
        <area shape="rect" coords="298,405,341,421" href="#d6" />
        <area shape="poly" coords="362,383,362,391,367,403,382,409,396,412,401,409,423,405,440,407,451,416,449,421,457,424,458,403,447,397,441,403,435,395,427,393,420,389,404,386,391,383,389,378,392,377,411,369,418,367,411,349,402,341,401,329,400,330,394,339,389,361,384,368,376,376,369,384" href="#d6" />
        <area shape="poly" coords="328,292,318,309,315,317,320,327,321,335,325,338,327,332,334,348,332,361,339,379,325,373,331,386,350,412,362,420,382,424,398,429,414,421,398,421,372,417,359,413,354,403,350,391,350,389,350,381,336,360,338,347,350,355,354,363,358,356,365,349,361,335,354,324,359,319,353,312,341,317,330,307,334,293" href="#d6" />
        <area shape="poly" coords="275,265,267,269,269,277,258,294,253,295,255,301,250,309,257,319,261,317,274,365,283,351,282,338,302,321,306,314,306,301,314,311,322,304,328,295,322,290,308,295,298,297,284,289,278,276,278,272" href="#d5" />
        <area shape="poly" coords="283,236,283,226,289,224,291,215,299,215,303,209,319,201,331,203,334,195,367,207,380,204,387,205,392,202,397,191,402,187,415,195,424,207,439,214,431,228,423,237,399,250,400,243,392,250,389,253,393,257,397,254,399,258,395,267,401,283,396,297,384,313,368,317,367,320,367,327,361,327,362,323,364,316,359,317,353,312,347,312,341,313,341,318,333,311,331,305,333,297,334,291,329,292,321,288,315,292,304,294,287,285,279,276,280,269,285,261,278,263,272,263,266,247" href="#d1" />
        <area shape="poly" coords="131,261,121,243,124,235,135,241,143,237,161,240,168,237,166,230,189,240,193,247,190,253,200,260,203,257,203,245,210,240,210,225,217,223,240,232,249,241,258,234,271,234,283,236,265,245,267,255,274,265,267,269,268,276,257,294,252,294,255,305,250,308,248,309,241,301,215,301,212,304,224,312,213,327,188,345,171,348,171,330,160,317,149,292,146,294,152,310,147,314,121,313,121,280,148,279,153,259" href="#d7" />
        <area shape="poly" coords="31,263,21,276,20,284,0,311,0,346,26,374,44,374,59,368,68,374,79,377,76,394,88,417,84,446,86,455,91,468,104,514,127,509,142,488,149,473,148,460,166,444,161,408,188,374,196,348,176,354,162,332,155,311,121,313,122,276,111,272,106,282,88,273,80,268,80,257,54,259,44,265" href="#d9" />
        <area shape="rect" coords="1071,120,1099,136" href="#d9" />
<area shape="poly" coords="190,432,186,443,175,447,176,461,174,469,180,482,188,469,195,442" href="#d9" />
        <area shape="poly" coords="942,25,1004,8,1027,1,1059,1,1077,8,1078,17,1098,14,1098,23,1084,36,1080,47,1087,52,1082,78,1076,87,1078,95,1064,107,1047,111,1039,123,1024,126,1014,156,995,147,983,114,988,105,979,99,984,87,978,85,977,75,961,59,940,59,928,43,949,34" href="#d9" />
        <area shape="poly" coords="75,186,53,191,40,163,19,194,44,219,44,231,23,232,23,258,47,259,75,227,113,258,122,241,139,219,190,239,184,224,197,217,207,236,211,221,249,238,257,236,282,233,302,206,337,196,390,204,400,188,438,214,428,232,437,233,461,191,445,183,465,160,493,161,520,146,520,152,502,167,504,197,524,168,526,155,541,154,568,140,568,132,577,128,592,134,604,119,546,100,469,84,409,77,374,76,378,61,324,20,313,28,342,50,304,68,254,80,245,101,218,97,209,86,227,64,249,53,218,59,199,89,224,107,180,107,165,113,124,93,90,108,67,143,68,162" href="#d9" />
      </map>
    </p>

    <script type="text/javascript" src="/assets_doc/front/html/js/jquery.rwdImageMaps.min.js"></script>
    <script>
    $(document).ready(function(e) {
      $('img[usemap]').rwdImageMaps();
    });
    </script>

    <table class="sp_table sp_dis" cellpadding="0" cellspacing="0">
      <tr>
        <td><a href="#d1">中国</a></td>
        <td><a href="#d2">台湾</a></td>
      </tr>
      <tr>
        <td><a href="#d3">日本</a></td>
        <td><a href="#d4">韩国</a></td>
      </tr>
      <tr>
        <td><a href="#d5">印度</a></td>
        <td><a href="#d6">新加坡</a></td>
      </tr>
      <tr>
        <td><a href="#d7">中东</a></td>
        <td><a href="#d8">美国</a></td>
      </tr>
      <tr>
        <td><a href="#d9">德国</a></td>
        <td class="bgn"></td>
      </tr>
    </table>
    <p class="m_top45 sp_none">&nbsp;</p>
    <a name="d1" id="d1"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="171" height="41" src="/assets_doc/front/html/images/distribution_r3_c2_pc.jpg" alt="China 中国分布" class="imgChange" /></h3>

<ul class="distribution_fb m_top10 clearfix">
      <li>
        <h3 class="recorder_f16">总部</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china01.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="sp_brn">
        <h3 class="recorder_f16">北京</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />北京分公司</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china02.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0">
        <h3 class="recorder_f16">广州</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />广州分公司</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china03.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="sp_brn">
        <h3 class="recorder_f16">深圳</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />深圳分公司</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china04.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li>
        <h3 class="recorder_f16">苏州</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />苏州联络事务所</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china05.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0 sp_brn">
        <h3 class="recorder_f16">南京</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />南京联络事务所</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china06.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li>
        <h3 class="recorder_f16">成都</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />成都联络事务所</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china07.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="sp_brn">
        <h3 class="recorder_f16">沈阳</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />沈阳联络事务所</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china08.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0">
        <h3 class="recorder_f16">西安</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />西安联络事务所</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china09.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd1 sp_brn">
        <h3 class="recorder_f16">武汉</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />武汉联络事务所</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china10.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd1">
        <h3 class="recorder_f16">济南</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />济南联络事务所</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china11.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0 pad_bd1 sp_brn">
        <h3 class="recorder_f16">中国区维修服务中心</h3>
        <p class="distribution_fgs">日置(上海) 商贸有限公司<br />维修服务中心</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/china12.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
    </ul>
    <p class="distribution_x sp_none"></p>
    <a name="d2" id="d2"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="183" height="41" src="/assets_doc/front/html/images/distribution_r7_c2_pc.jpg" alt="Distribution r7 c2" class="imgChange" /></h3>
    <ul class="distribution_fb2 m_top10 clearfix">
      <li class="sp_hg160">
        <h3 class="recorder_f16">常驻代表办事处</h3>
        <p class="distribution_fgs sp_hg17">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/taiwan01.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
    </ul>
    <p class="distribution_x"></p>
    <a name="d3" id="d3"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="173" height="42" src="/assets_doc/front/html/images/distribution_r9_c2_pc.jpg" alt="Distribution r9 c2" class="imgChange"/></h3>
<ul class="distribution_fb m_top10 clearfix">
      <li>
        <h3 class="recorder_f16">总公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan01.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="sp_brn">
        <h3 class="recorder_f16">总公司客服中心</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan02.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0">
        <h3 class="recorder_f16">总公司订单中心</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan03.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li  class="sp_brn">
        <h3 class="recorder_f16">东北分公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan04.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li>
        <h3 class="recorder_f16">长野分公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan05.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0 sp_brn">
        <h3 class="recorder_f16">东京分公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan06.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li>
        <h3 class="recorder_f16">横滨事务所</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan07.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="sp_brn">
        <h3 class="recorder_f16">厚木事务所</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan08.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0">
        <h3 class="recorder_f16">北关东分公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan09.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="sp_brn">
        <h3 class="recorder_f16">静冈分公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan10.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li>
        <h3 class="recorder_f16">名古屋分公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan11.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0 sp_brn">
        <h3 class="recorder_f16">大阪分公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan12.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd1">
        <h3 class="recorder_f16">广岛事务所</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan13.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd1 sp_brn">
        <h3 class="recorder_f16">福冈分公司</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan14.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li class="pad_bd0 pad_bd1 sp_hg">
        <h3 class="recorder_f16">外国营业分部（总公司内）</h3>
        <p class="distribution_fgs">&nbsp;</p>
        <p><a id="try-1" class="health01 cboxElement" href="assets_doc/about/japan15.html">查看详情 <img width="10" height="9" src="/assets_doc/front/html/images/distribution_r5_c3.jpg" alt="Distribution r5 c3" /></a></p>
      </li>
      <li style="background:#FFF;" class="null_pc pad_none sp_hg sp_brn">
      </li>
    </ul>
    

    <p class="distribution_x sp_none"></p>
    <a name="d4" id="d4"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="173" height="43" src="/assets_doc/front/html/images/distribution_r11_c2_pc.jpg" alt="Distribution r11 c2" class="imgChange"/></h3>
    <dl class="m_top10 clearfix sp_pl3">
      <dt class="distribution_w250 m_top15"><strong>HIOKI KOREA CO.,LTD. <br />韩国销售公司</strong></dt>
      <dd class="fl">Rm# 1705, East Tower, Hanshin Intervalley 24<br />
      322 Teheran-ro, Gangnam-gu Seoul, 06211, Rep. of Korea<br />
TEL +82-2-2183-8847　 FAX +82-2-2183-3360<br />
E-mail:<a href="mailto:info-kr@hioki.co.jp">info-kr@hioki.co.jp</a><br />
URL:<a href="http://www.hiokikorea.com" target="_blank">http://www.hiokikorea.com</a>
      </dd>
    </dl>
    <p class="distribution_x"></p>
    <a name="d5" id="d5"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="173" height="43" src="/assets_doc/front/html/images/distribution_r13_c2_pc.jpg" alt="Distribution r13 c2" class="imgChange"/></h3>
    <dl class="m_top10 clearfix sp_pl3">
      <dt class="distribution_w250 m_top15"><strong>HIOKI INDIA ENGINEERING <br />PRIVATE LIMITED</strong></dt>
      <dd class="fl">415, Bestech Chambers, Sushant Lok - 1<br />
      B Block, Gurgaon, Haryana, 122 001, India<br />
      TEL +91-1244013811<br />
      E-mail:<a href="mailto:hioki@hioki.in">hioki@hioki.in</a><br />
      URL:<a href="http://www.hioki.com/" target="_blank">http://www.hioki.com/</a></dd>
    </dl>
    <p class="distribution_x"></p>
    <a name="d6" id="d6"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="253" height="42" src="/assets_doc/front/html/images/distribution_r15_c2_pc.jpg" alt="Distribution r15 c2" class="imgChange"/></h3>
    <dl class="m_top10 clearfix sp_pl3">
      <dt class="distribution_w250 m_top5"><strong>HIOKI SINGAPORE PTE. <br />
        LTD.</strong></dt>
            <dd class="fl">33 Ubi Avenue 3 #03-02 Vertex Singapore 408868<br />
            TEL +65-6634-7677　 FAX +65-6634-7477<br />
            E-mail:<a href="mailto:info-sg@hioki.com.sg">info-sg@hioki.com.sg</a><br />
            URL:<a href="http://www.hioki.com" target="_blank">http://www.hioki.com</a></dd>
    </dl>
    <p class="distribution_x"></p>
    <a name="d7" id="d7"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="173" height="43" src="/assets_doc/front/html/images/distribution_r17_c2_pc.jpg" alt="Distribution r17 c2" class="imgChange"/></h3>
    <dl class="m_top10 clearfix sp_pl3">
      <dt class="distribution_w250 m_top15"><strong>中东常驻代表办事处</strong></dt>
       <dd class="fl">Office No. 5EA-812 Dubai Airport Free Zone P.O. Box 371097 Dubai, U.A.E.<br />
      TEL ＋971-4232-3400
      </dd>
    </dl>
    <p class="distribution_x"></p>
    <a name="d8" id="d8"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="173" height="43" src="/assets_doc/front/html/images/distribution_r19_c2_pc.jpg" alt="Distribution r19 c2" class="imgChange"/></h3>
    <dl class="m_top10 clearfix sp_pl3">
      <dt class="distribution_w250 m_top5"><strong>HIOKI USA CORPORATION</strong></dt>
      <dd class="fl">6 Corporate Drive Cranbury, NJ 08512 U.S.A.<br />
      TEL +1-609-409-9109　 FAX +1-609-409-9108<br />
      E-mail:<a href="mailto:hioki@hiokiusa.com">hioki@hiokiusa.com</a><br />
      URL:<a href="http://www.hiokiusa.com/" target="_blank">http://www.hiokiusa.com/</a></dd>
    </dl>

    <dl class="m_top10 clearfix sp_pl3">
      <dt class="distribution_w250 m_top5"><strong>HIOKI USA CORPORATION<br/>Western Regional Office</strong></dt>
      <dd class="fl">21250 Hawthorne Boulevard, Suite.500 Torrance,<br />
      CA 90503, U.S.A.<br />
      TEL：+1-310-792-7041 
      </dd>
    </dl>
    <p class="distribution_x"></p>
    <a name="d9" id="d9"></a>
    <h3 class="distribution_title_sp pad_mt10 m_top45"><img width="215" height="43" src="/assets_doc/front/html/images/distribution_r21_c2_pc.jpg" alt="Distribution r21 c2" class="imgChange"/></h3>
    <dl class="m_top10 clearfix sp_pl3">
      <dt class="distribution_w250 m_top5"><strong>HIOKI EUROPE GmbH</strong></dt>
      <dd class="fl">Rudolf-Diesel-Strasse 5, 65760 Eschborn, Germany<br />
TEL +49-6173-3234063　 FAX +49-6173-3234064<br />
E-mail：hioki@hioki.eu<br />
URL：<a href="http://www.hioki.com/" target="_blank">http://www.hioki.com/</a></dd>
    </dl>
    <p class="distribution_x sp_none"></p>
  </div>
</div>
<%= render partial: "shared/footer" %>
