<% content_for :head do %>
<link rel="stylesheet" media="screen" href="/assets_doc/front/html/css/colorbox.css" />
<script src="/assets_doc/front/html/js/jquery.colorbox.js"></script>
<script src="/assets_doc/front/html/js/script.js"></script>
<script src="/assets_doc/front/html/js/tabslide.js"></script>
<script>
	$(document).ready(function(){
	//Examples of how to assign the Colorbox event to elements
		$(".health01").colorbox({iframe:true, innerWidth:1100, innerHeight:630});
		$(".callbacks").colorbox({
			onOpen:function(){ alert('onOpen: colorbox is about to open'); },
			onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
			onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
			onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
			onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
		});

		$('.non-retina').colorbox({rel:'group5', transition:'none'})
		$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
		//Example of preserving a JavaScript event for inline calls.
		$("#click").click(function(){ 
			$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
			return false;
		});
	});
</script>
<script type="text/javascript">
window.onload=window.onresize=function(){
if(document.getElementById("mm2").clientHeight<document.getElementById("mm1").clientHeight){
document.getElementById("mm2").style.height=document.getElementById("mm1").offsetHeight+"px";
}
else{
document.getElementById("mm1").style.height=document.getElementById("mm2").offsetHeight+"px";
}
}
</script>
<% end %>

<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="recruit_banner pad_none sp_none"></div>
<div class="pad_block sp_none"><img src="/assets_doc/front/html/images/recruit_r1_c1_pad.jpg" width=100%></div>
<div class="sp_block"><img src="/assets_doc/front/html/images/recruit_sp.png" class="sp_w100"></div>
<div class="news_content clearfix">
  <div class="product_left sp_none" >
    <h3 class="about_sp">招聘信息<br class="sp_none pad_none"><span class="hioki_f15">Recruit</span></h3>
  </div>
  <div class="product_right">
    <p class="current sp_none"><a href="index.html">首页</a> > 招聘信息</p>

    <h3 class="repair_title m_top20 sp_mt0">十年磨砺，整装待发；<br class="sp_inline" />华丽转身，再造辉煌！</h3>
    <p class="m_top15 sp_mt10 sp_lh26 sp_fs14">2007年4月，日本日置电机株式会社（HIOKI）为了更敏锐、更迅速地熟悉并对应中国巨大的市场需求，成立日本独资日置（上海）商贸有限公司。同时在北京，广州成立了分公司。随着公司业绩稳定、持续增长，业务不断扩大，继而成立深圳分公司及苏州，南京，成都，西安，武汉，沈阳，济南等办事处。公司以电子测量仪器的批发，技术咨询及本地化维修服务为主要经营业务。<br />
    在秉承尊重人性、贡献社会的公司经营理念基础上，日置（上海）商贸有限公司将更加努力地致力于中国市场仪器仪表的销售与售后服务工作。公司坚信拥有坚强信念和高度知识的人材是公司的经营之本。为了公司的蓬勃发展，衷心欢迎有志之士加入日置（上海）商贸有限公司。<br />
    欢迎加入日置（上海）商贸有限公司，踏上您事业的起点。您的事业征程中，日置（上海）愿与您共舞，共创未来！</p>
    <h3 class="repair_title m_top45 sp_mt25">招聘信息</h3>
    <p class="recorder_f18 m_top25 sp_fs15 sp_mt10">销售工程师</p>
<div class="m_top15 sp_mt10"><table width="925" border="0" cellspacing="0" cellpadding="0" class="recruit_table sp_w100">
        <tr>
          <th width="150" bgcolor="#84AED4">职位</th>
          <td>销售工程师</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">招聘人数</th>
          <td>2-3人</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">工作经验</th>
          <td>一年以上</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">年龄</th>
          <td>22-25岁</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">工作地点</th>
          <td>上海，南京 </td>
        </tr>
        <tr>
          <th valign="top" bgcolor="#84AED4">工作内容</th>
          <td>(1)担当区域内销售额目标达成<br />
            (2)业务区域范围客户技术问题对应。<br />
            (3)代理商开发管理与销售活动支援。<br />
            (4)重点客户市场开发与维护。<br />
            (5) 产品应用方案推广。<br />
            (6) 市场活动计划并实施</td>
        </tr>
        <tr>
          <th valign="top" bgcolor="#84AED4">职位要求</th>
          <td>(1) 有仪器仪表或电气电子部品销售经验者优先<br />
            (2) 具有较强的沟通能力和合作精神<br />
            (3) 理工科专业者优先<br />
            (4) 本科以上学历</td>
        </tr>
      </table>
    </div>
        <p class="recorder_f18 m_top35 sp_fs15">维修技术员</p>
    <div class="m_top15 sp_mt10"><table width="925" border="0" cellspacing="0" cellpadding="0" class="recruit_table">
        <tr>
          <th width="150" bgcolor="#84AED4">职位</th>
          <td>维修技术员</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">招聘人数</th>
          <td>2-3人</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">工作经验</th>
          <td>一年以上</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">年龄</th>
          <td>22-25岁</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">工作地点</th>
          <td>上海</td>
        </tr>
        <tr>
          <th valign="top" bgcolor="#84AED4">工作内容</th>
          <td>(1) 公司产品的修理，校正，调整。<br />
            (2) 技术咨询热线对应，客户技术问题解答。<br />
            (3) 维修机器的受理，发货及制作维修报告。<br />
            (4) 客户现场的技术问题对应。</td>
        </tr>
        <tr>
          <th valign="top" bgcolor="#84AED4">职位要求</th>
          <td>(1) 熟悉电路原理图，PCB元器件位置图。<br />
            (2) 熟练操作无铅焊接技术。<br />
            (3) 有元器件，根据图纸进行过电路板维修经验者优先。<br />
            (4) 有较强的团队合作意识。</td>
        </tr>
      </table>
    </div>
    <p class="recorder_f18 m_top35 sp_fs15">销售工程师（实习生）</p>
    <div class="m_top15 sp_mt10"><table width="925" border="0" cellspacing="0" cellpadding="0" class="recruit_table">
        <tr>
          <th width="150" bgcolor="#84AED4">职位</th>
          <td>销售工程师（实习生）</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">招聘人数</th>
          <td>2-3人</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">工作经验</th>
          <td>2017届应届毕业生</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">年龄</th>
          <td>22-25岁</td>
        </tr>
        <tr>
          <th bgcolor="#84AED4">工作地点</th>
          <td>上海、北京、广州、深圳或其他办事处</td>
        </tr>
        <tr>
          <th valign="top" bgcolor="#84AED4">工作内容</th>
          <td>(1) 公司产品的学习<br />
            (2) 客户，代理店的技术支持，销售活动<br />
            (3) 代理店的开发，管理<br />
            (4) 市场开发</td>
        </tr>
        <tr>
          <th valign="top" bgcolor="#84AED4">职位要求</th>
          <td>(1) 具有较强的沟通能力和合作精神<br />
            (2) 2017年本科毕业生<br />
            (3) 电气工程与自动化专业，机械自动化专业，机械电子工程专业，电子信息科学类</td>
        </tr>
      </table>
    </div>

    <h3 class="repair_title m_top35 sp_mt25 fs18">面试流程</h3>
    <p class="recorder_f16 m_top10 sp_fs14 sp_mt5">投递简历 > 笔试 > 合格者面试 > 确定录用实习 > 签订实习协议 > 实习合格后录用 > 确定录用并签订三方协议</p>
    <p class="recruit_f20 m_top35 sp_mt20">实习期待遇</p>
    <p class="m_top10 sp_mt5">(1) 提供实习补贴（130元/天）<br />
    (2) 提供良好的实习环境和指导
    </p>
    
    <p class="distribution_x sp_pt0">&nbsp;</p>
    <h3 class="repair_title m_top25 fs18 sp_mt20">应聘方法</h3>
    <p class="m_top15 sp_mt10">发送简历书致以下地址<br />
    <br />
    招聘负责人 张小姐<br />
    邮箱：<a href="mailto:zhangyr@hioki.com.cn">zhangyr@hioki.com.cn</a><br />
    <br />
    招聘负责人 王小姐<br />
    邮箱：<a href="mailto:wangjia@hioki.com.cn">wangjia@hioki.com.cn</a><br />
    <br />
    资料筛选合格者，一周内通知笔试，面试
    </p>
  </div>
</div>
<%= render partial: "shared/footer" %>
