<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>
<div class="company_banner"></div>
<div class="news_content clearfix">
  <div class="product_left" >
	<h3>公司介绍<br /><span class="hioki_f15">Company</span></h3>
	<ul class="m_top10">
	  <li><a href="distribution.html">公司分布</a></li>
	  <li><a href="speech.html">董事长致辞</a></li>
	  <li><a href="company.html">公司概要</a></li>
      <li><a href="history.html">公司沿革</a></li>
	</ul>
  </div>
  <div class="product_right">
  	<p class="current"><a href="../index.html">首页</a> > <a href="company.html">公司介绍</a> > 董事长致辞</p>
    <h3 class="product_f25 m_top20">董事长致辞</h3>
    <div class="m_top45 clearfix">
      <div class="speech_left">
      	<h3 class="product_f20 recorder_blue">希望成为被大家公认的既放心又安全，<br />
并且能够对产业的发展做出贡献的测试仪厂商</h3>
        <p class="m_top15">日置电机株式会社于2007年4月在上海设置了总部，日置（上海）商贸有限公司在中国作为销售公司成立以来，上海以外中国全境内开设了计11个据点，在中国市场的品牌扩大为目标，像客户提供迅速的服务及对应模式，全体团结一致努力并顺利的成长。在此期间，对热情支持我们的各位表示深深的感谢。<br />
<br />
在本公司，为了及时地提供给各位有用的电气测试仪，在2016年1月设立了技术部。现在客户的支持，产品培训，各种咨询的其他市场需求，也积极地开展下一个产品开发活动的开展。<br />
<br />
我们今后希望成为，为支持人们的安心和安全，并且能够对产业的发展做出贡献的测试仪厂商。日置集团的企业理念是"人性的尊重"和"对社会的贡献"，今后也将作为充满活力的企业和为社会做出贡献的公司事业而迈进。所以，敬请期待本公司今后的动向。
        </p>
        <p align="right" class="m_top45">日置（上海）商贸有限公司<br />
董事长
        </p>
        <p align="right" class="m_top10"><img width="130" src="/assets_doc/images/speech_r4_c2.png" /></p>
      </div>
      <p class="left"><img width="140" src="/assets_doc/images/speech_r2_c4.jpg" /></p>
    </div>
    
  </div>
</div>
<p class="m_top45">&nbsp;</p>
<%= render partial: "shared/footer" %>
