<% content_for :head do %>
<link rel="stylesheet" media="screen" href="/assets_doc/front/html/css/colorbox.css" />
<script src="/assets_doc/front/html/js/jquery.colorbox.js"></script>
<script src="/assets_doc/front/html/js/script.js"></script>
<script src="/assets_doc/front/html/js/tabslide.js"></script>
<script>
	$(document).ready(function(){
	//Examples of how to assign the Colorbox event to elements
		$(".health01").colorbox({iframe:true, innerWidth:1100, innerHeight:630});
		$(".callbacks").colorbox({
			onOpen:function(){ alert('onOpen: colorbox is about to open'); },
			onLoad:function(){ alert('onLoad: colorbox has started to load the targeted content'); },
			onComplete:function(){ alert('onComplete: colorbox has displayed the loaded content'); },
			onCleanup:function(){ alert('onCleanup: colorbox has begun the close process'); },
			onClosed:function(){ alert('onClosed: colorbox has completely closed'); }
		});

		$('.non-retina').colorbox({rel:'group5', transition:'none'})
		$('.retina').colorbox({rel:'group5', transition:'none', retinaImage:true, retinaUrl:true});
		//Example of preserving a JavaScript event for inline calls.
		$("#click").click(function(){ 
			$('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again and this message will still be here.");
			return false;
		});
	});
</script>
<% end %>

<%= render partial: "shared/top_search" %>
<%= render partial: "shared/top_header" %>

<div class="company_banner sp_none pad_none"></div>
<div class="pad_block sp_none"><img src="/assets_doc/front/html/images/company_r1_c1_pad.jpg" width=100%></div>
<div class="company_banner_sp sp_block"><img src="/assets_doc/front/html/images/about_sp.png" class="sp_w100"></div>
<div class="news_content clearfix">
  <div class="product_left" >
  <h3 class="about_sp">公司介绍<br class="sp_none pad_none"><span class="hioki_f15">Company</span></h3>
  <ul class="m_top10 clearfix sp_mt0 pad_mt0">
    <li><a href="distribution.html">公司分布</a></li>
    <li><a href="speech.html">高层致辞</a></li>
    <li><a href="company.html">公司概要</a></li>
      <li><a href="history.html">公司沿革</a></li>
  </ul>
  </div>

<div class="product_right sp_mt10 product_right_pt0 product_right_sp">
    <p class="current sp_none"><a href="../index.html">首页</a> > <a href="company.html">公司介绍</a> > 高层致辞</p>
    <p class="m_top20"><img src="/assets_doc/front/html/images/chairman.jpg" class="sp_w100 pad_w100"></p>
    <h3 class="product_f25 m_top55 sp_mt30 sp_bg sp_fs18">董事长致辞</h3>
      <div class="speech_left sp_w94">
        <p class="m_top15">日置（上海）商贸有限公司成立于2007年。成立至今，由衷感谢中国各方用户的支持，因为你们，公司已经走过了10个年头。至今在中国全国已拥有11个销售据点。<br />
<br />我司最重要的使命是通过提供电气测量仪器销售和服务，为中国市场的业务发展做出贡献。全公司上下员工都为，能在中国市场琳琅满目的产业的发展中，贡献我们绵薄之力而全力以赴。汽车，电池，新能源等市场正被电子化的浪潮所牵引着。相信我们销售的电气测量仪器将在未来有更大的发挥空间。我们将不断努力，继续为客户提供全新价值并激发技术创新。<br />
<br />今后，期待新老客户一如既然的支持和帮助。
        </p>
        <p align="right" class="m_top45">日置（上海）商贸有限公司<br />
董事长
        </p>
        <p align="right" class="m_top10"><img src="/assets_doc/front/html/images/speech_r4_c2.png" width="130" height="32" /></p>
      </div>
      <h3 class="product_f25 m_top55 sp_mt30 sp_bg sp_fs18">总经理致辞</h3>
      <div class="speech_left sp_w94">
        <p class="m_top15">日置（上海）商贸有限公司是日本日置电机株式会社100%出资的子公司。成立至今的10年来我们不断的致力于提供最符合中国客户的产品和服务。<br />
<br />随着社会与时代的发展，我司力求能进一步团结内部力量，提高产品的科技性以此来提高整个公司的市场竞争力。在电气测量仪器领域，为中国社会各行各业的发展提供高品质产品，优质服务是我们不断前行的动力。<br />
<br />同时，我司也深知身负回馈社会的企业使命，秉承“尊重人性，贡献社会”的集团经营理念，公司也将不断带领全体员工在中国本土的公益事业方面，做出我们的一份绵力。<br><br>通过让客户满意及回馈社会，力争让我司成为一个受人爱戴及信赖的企业。
        </p>
        <p align="right" class="m_top45">日置（上海）商贸有限公司<br />
总经理
        </p>
        <p align="right" class="m_top10"><img src="/assets_doc/front/html/images/speech_r4_c2_g.jpg" height=32/></p>
    </div>
  </div>
</div>
<%= render partial: "shared/footer" %>
