#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

#cboxLoadedContent{margin:30px 0;}
#cboxOverlay{ background:#D9DADA;} /*背景颜色*/
#colorbox{outline:0;}
#cboxContent{background:#fff; overflow:hidden;}
#cboxClose{width:31px; height:31px; border:0; padding:0; margin:0; position:absolute; top:0; right:0; text-indent:-9999px; background:url(../images/calendar_close.png) no-repeat;} /*关闭按钮*/


.distribution_dc{width:800px; padding:35px 0 0 55px;}
.distribution_dt{width:520px; float:left;}

.china_dc{padding-left:30px;}
.china_dc li{width:390px; float:left; padding-right:20px;}

.greenpoint_dc{padding:0 50px; font-size:16px; line-height:25px;}
.greenpoint_h3{color:#FFF; font-size:16px; margin-top:30px; padding:2px 10px; display:inline-block; background:#00A64F;}
