<div id="pic_corpus_05" class="recorder_content" style="display:none;">
  <p class="product_f25">PDF样张</p>
  <h3 class="recorder_basic" style="margin-top:15px;">标题标题标题</h3>

  <ul class="m_top30 clearfix">
    <li class="recorder_pdf"><a href="#">存储记录仪 8860-50, 8861-50</a></li>
    <li class="recorder_pdf"><a href="#">存储记录仪 8860-50, 8861-50</a></li>
    <li class="recorder_pdf"><a href="#">存储记录仪 8860-50, 8861-50</a></li>
    <li class="recorder_pdf"><a href="#">存储记录仪 8860-50, 8861-50</a></li>
  </ul>
</div>
