<div id="pic_corpus_05" class="recorder_content" style="display:none;">
  <ul class="recorder_applications">
    <% @utilities.each do |uti| %>
      <li><%= link_to uti.title, uti.link %></li>
  <% end %>
  <ul>
</div>
