<div id="pic_corpus_03" class="recorder_content" style="display:none;">
  <p class="product_f25">PDF样张</p>

  <ul class="m_top30 clearfix">
		<% @product.product_attachments.each do |p_a| %>
    <li class="recorder_pdf"><a href="<%= p_a.pdf.url %>"><%= p_a.name %></a></li>
		<% end %>
  </ul>
</div>
